## Importing necessary libraries

In [ ]:
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd

## Loading up the dataset

In [ ]:
X, y = load_iris(
    return_X_y = True
)

In [ ]:
X = pd.DataFrame(X, columns = ["feature1", "feature2", "feature3", "feature4"])

In [ ]:
y = pd.DataFrame(y, columns = ["label"])

In [ ]:
X.head()

   feature1  feature2  feature3  feature4
0       5.1       3.5       1.4       0.2
1       4.9       3.0       1.4       0.2
2       4.7       3.2       1.3       0.2
3       4.6       3.1       1.5       0.2
4       5.0       3.6       1.4       0.2

In [ ]:
X.describe()

         feature1    feature2    feature3    feature4
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.057333    3.758000    1.199333
std      0.828066    0.435866    1.765298    0.762238
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [ ]:
y.head()

   label
0      0
1      0
2      0
3      0
4      0

In [ ]:
y.value_counts()

label
0        50
1        50
2        50
dtype: int64

## Splitting the data into train and test sets

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42
)

In [ ]:
print(f"Shapes of training data: {X_train.shape} and {y_train.shape}")
print(f"Shapes of training data: {X_test.shape} and {y_test.shape}")

Shapes of training data: (100, 4) and (100, 1)
Shapes of training data: (50, 4) and (50, 1)

## Building a Logistic Regression Classifier

Refer to the [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html) for details about the hyperparameters

In [ ]:
clf = LogisticRegression(
    random_state= 42, # Random seed for initialiation
    max_iter = 5, # One of the stopping criteria for Gradient Ascent
    tol = 1e-6, # Another stopping criteria for Gradient Ascent
    verbose = 1, # Verbosity level
    n_jobs = -1 # Use all CPU cores available
).fit(X, y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 out of   1 | elapsed:    0.0s finished

## Testing the Classifier on the test data

In [ ]:
clf.score(X_test, y_test)

0.68